<div #scrollElement class="virtual-scroller">
  <div class="virtual-content" [style.height.px]="virtualGrid.virtualizer.getTotalSize()">
    @for (virtualItem of virtualGrid.virtualizer.getVirtualItems(); track virtualItem.key) {
      @if (books()[virtualItem.index]; as book) {
        <div
          class="virtual-cell"
          [style.width.px]="virtualGrid.itemWidth()"
          [style.height.px]="virtualItem.size"
          [style.transform]="virtualGrid.itemTransform(virtualItem)">
          <app-book-card
            [index]="virtualItem.index"
            [book]="book"
            [isCheckboxEnabled]="true"
            [seriesViewEnabled]="seriesViewEnabled()"
            [onBookSelect]="onBookCardSelect"
            [isSeriesCollapsed]="isSeriesCollapsed()"
            (checkboxClick)="checkboxClick.emit($event)"
            [isSelected]="bookSelectionService.isBookSelected(book)"
            [useSquareCovers]="useSquareCovers()"
            [overlayPreferenceService]="overlayPreferenceService()">
          </app-book-card>
        </div>
      } @else {
        <div
          class="virtual-cell virtual-loader-cell"
          [style.width.px]="virtualGrid.itemWidth()"
          [style.height.px]="virtualItem.size"
          [style.transform]="virtualGrid.itemTransform(virtualItem)"></div>
      }
    }
  </div>
</div>
