<ng-container *transloco="let t; prefix: 'statsUser.readStatus'">
  <app-stats-chart-card
    [heading]="t('title')"
    [description]="t('description')"
    [showDescription]="showDescription()"
    [loadingMessage]="loadingMessage()"
    [plotHeight]="plotHeight()"
    [state]="state()"
    [emptyMessage]="emptyMessage()">
    @if (state() === 'ready') {
      <div class="relative min-w-0" [style.height.px]="plotHeight()">
        <canvas
          baseChart
          [data]="chartData()"
          [options]="chartOptions()"
          [type]="chartType"></canvas>
      </div>
    }
  </app-stats-chart-card>
</ng-container>
