.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@container (width >= 42rem) {
  [data-preview-layout='single-small'] > .cdk-drag,
  [data-preview-layout='halves'] > .cdk-drag {
    grid-column: span 6 / span 6 !important;
  }

  [data-preview-layout='full'] > .cdk-drag {
    grid-column: span 12 / span 12 !important;
  }

  [data-preview-layout='thirds'] > .cdk-drag {
    grid-column: span 4 / span 4 !important;
  }

  [data-preview-layout='small-wide'] > [data-chart-size='small'] {
    grid-column: span 4 / span 4 !important;
  }

  [data-preview-layout='small-wide'] > [data-chart-size='wide'] {
    grid-column: span 8 / span 8 !important;
  }

  [data-preview-layout='new-row'] > .cdk-drag-placeholder {
    grid-column-start: 1 !important;
  }

  [data-preview-layout='new-row'] > .cdk-drag-placeholder[data-chart-size='small'] {
    grid-column-end: span 6 !important;
  }

  [data-preview-layout='new-row'] > .cdk-drag-placeholder:not([data-chart-size='small']) {
    grid-column-end: span 12 !important;
  }

  [data-preview-layout='new-row'] > .cdk-drag-placeholder + .cdk-drag {
    grid-column-start: 1 !important;
  }
}
